@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
  width: 100%;
  text-align: center;
}

.text {
  width: 50%;
}

.toggle-button {
  cursor: pointer;
}

body {
  height: 100vh;
  padding-top: 50px;
  font-family: 'Roboto Mono', monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  font: 14px;
  background-color: white;
  transition: all .2s linear;
}


object {
  width: 100%;
  text-align: center;
  pointer-events: none;
}

h5 {
  position: relative;
  text-align: center;
  padding-bottom: 2em;
}

table {
  width: 100%;
  background-color: black;
  text-align: center;

}

.hidden {
  visibility: hidden;
}

.scale {
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: all 0.4s;
}

div img {

  aspect-ratio: 16 / 9;
}

header {
  height: 100vh;
  /* display: flex; */
  height: auto;
  text-align: center;
  width: 80%;
  z-index: 1;
  mix-blend-mode: difference;
  filter: invert(1);
  -webkit-filter: (invert(1));
  position: fixed;
  transition: top 0.2s ease-in-out;
}

#GDLogo {
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  pointer-events: none;
}

span {
  font-weight: bold;
  font-size: large;
}


.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}
