@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
  width: 100%;
  text-align: center;
}

.text {
  width: 50%;
}

.toggle-button {
  cursor: pointer;
}

body {
  height: 100vh;
  padding-top: 50px;
  font-family: 'Roboto Mono', monospace, "Lucida Grande", Helvetica, Arial, sans-serif;
  font: 14px;
  background-color: white;
  transition: all .2s linear;
}


object {
  width: 100%;
  text-align: center;
  pointer-events: none;
}

h5 {
  position: relative;
  text-align: center;
  padding-bottom: 2em;
}

table {
  width: 100%;
  background-color: black;
  text-align: center;

}

.hidden {
  visibility: hidden;
}

.scale {
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: all 0.4s;
}

div img {

  aspect-ratio: 16 / 9;
}

header {
  height: 100vh;
  /* display: flex; */
  height: auto;
  text-align: center;
  width: 80%;
  z-index: 1;
  mix-blend-mode: difference;
  filter: invert(1);
  -webkit-filter: (invert(1));
  position: fixed;
  transition: top 0.2s ease-in-out;
}

#GDLogo {
  align-self: center;
  text-align: center;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  pointer-events: none;
}

span {
  font-weight: bold;
  font-size: large;
}

input {
  display: none;
}

.open {
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: -40px;
  left: -50px;
}

.open:before {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.open:after {
  content: "";
  background-color: #3c3c3c;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  z-index:1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 0px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: black;
  text-decoration: none;
  transition: color 0.2s;
  /* font-family: Trebuchet MS; */
  text-transform: uppercase;
  padding: 10px 0;
}

.menu ul li a:hover {
  color: #ffffff;
}

.menu ul li:hover {
  background: black;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: black;
  transform: rotate(-45deg);
  position: relative;
  pointer-events: inherit;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}
